.dialog,
.dialog__overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/*.dialog-inner .close{
  position: absolute;
    right: -12px;
    top: -5px;
        background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: 12px;
    width: 16px;
    height: 16px;
}*/

/*.dialog-inner .close button{
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
}*/

.dialog-inner .user_login{
  width: 100%;
  padding: 25PX;
  background: #b81e25;
  color: white;
}

.dialog {
	position: fixed;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	pointer-events: none;
	z-index: 999;
}

.dialog__overlay {
	position: absolute;
	z-index: 1;
	background: rgba(55, 58, 71, 0.9);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
	opacity: 1;
	pointer-events: auto;
}

.dialog__content {
	width: 50%;
	max-width: 560px;
	min-width: 290px;
	background: #fff;
	padding: 4em;
	text-align: center;
	position: relative;
	z-index: 5;
	opacity: 0;
}

.dialog--open .dialog__content {
	pointer-events: auto;
}

/* Content */
.dialog h2 {
	margin: 0;
	font-weight: 400;
	font-size: 2em;
	padding: 0 0 2em;
	margin: 0;
}

/*feild animation*/
.main {
  -webkit-transition: 3s;
  transition: 3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*height: 100vh;*/
  /*background: #2ecc71;*/
}
.main .box {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 1;
      -ms-flex: 1 1 1;
          flex: 1 1 1;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  color: #b81e25;
  padding: 3.2rem 1.5rem 2rem;
  background: #fff;
  border-radius: 0.5rem;
}
.main .box .input-block {
  margin-bottom: 2rem;
}
.main .box .input-block .placeholder-label {
  color: #b81e25;
  position: absolute;
  margin-left: 0rem;
  margin-top: 0.45rem;
  font-size: 0.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main .box .input-block .enterme {
  height: 2rem;
  width: 16rem;
  padding: 0;
  font-size: 0.8rem;
  outline: none;
  border: none;
  border-bottom: 0.0625rem solid #b81e25;
  z-index: 1000;
  background: #fff;
  color: #000;
}
.main .box .input-block .enterme:hover,
.main .box .input-block .enterme:active,
.main .box .input-block .enterme:focus {
  border-bottom: 0.0625rem solid #2ecc71;
  box-shadow: 0rem 0.0625rem 0rem #2ecc71;
}
.to-be-label {
  margin-top: -0.7rem !important;
  color: #27ae60 !important;
  font-size: 0.7rem !important;
}
.send {
  height: 2rem;
  width: 15.6rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 0.8rem;
}
.send:hover {
  background-color: #27ae60;
}
.send-box {
  -webkit-animation: move-data 1s ease forwards;
          animation: move-data 1s ease forwards;
}
@-webkit-keyframes move-data {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3);
    margin-top: 0rem;
  }
  100% {
    margin-top: -150vh;
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3);
  }
}
@keyframes move-data {
  0% {
    background-color: #fff;
  }
  50% {
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3);
    margin-top: 0rem;
  }
  100% {
    margin-top: -150vh;
    -webkit-transform: scale(0.3, 0.3);
            transform: scale(0.3, 0.3);
  }
}