*{
	/*margin: 0;*/
	padding: 0;
	
}
.row{
	margin: 0;
	padding: 0;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	font-family: 'Lato','Open Sans', sans-serif;
	overflow-x: hidden;
}
.menu_overlay{
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    transition: all .5s ease-in;
    z-index: 9999;
}
.PD0 {
	padding: 0;
}
.PDL0{
	padding-left: 0 !Important;
}
::-moz-selection { /* Code for Firefox */
    background: #b81e25;
    color: white
}
::selection {
    background: #b81e25;
    color: white;
}
button {
	border: none;
	background-color: transparent;
}
button a {
	color: white;
    background: #b81e25;
    padding: 13px 20px;
    border: 1px solid #b81e25;
    text-decoration: none;
    transition: all .0s ease-in;
    border-radius: 5px;
    position: relative;
    display: block;
    text-decoration: none !important;
    font-size: 16px;
}
button a:hover {
	background-color: transparent;
	color: #b81e25;	
}
button a:active {
	background-color: transparent;
	color: #b81e25;	
}
button a:focus {
	background-color: transparent;
	color: #b81e25;	
}
.ani_hidden{
     /*opacity:0;*/
}
.ani_visible{
     opacity:1;
}

/*header starts here*/
header {
	width: 100%;
    position: fixed;
    /*height: 75px;*/
    display: block;
    z-index: 999;
  	/*background: white;*/
  	top: 0;
  	/*border-bottom: 1px solid #eee;*/
}
header article {
	width: 100%;
    position: relative;
    display: inline-block;
    /*padding: 12px 12px 10px;*/
    transition: 1s all ease-in;
    -webkit-transition: .5s all ease-in;
    background-color: white;
    /*box-shadow: 0px 1px 0px #eee;*/
}
.header_container{
	width: 100%;
	margin: auto;
	display: block;
	position: relative;
}
.scroll_animation{
	padding: 5px 25px 5px;
	transition: .5s all ease-in;
	-webkit-transition: 1s all ease-in;
	background-color: white;
	box-shadow: 0px 1px 0px #eee;
}
.scroll_menu{
	color: #666 !important;
}
.scroll_menu:hover{
	color: #b81e25 !important;
}
/*logo */
.logo{
	display: inline-block;
	float: left;
	width: 100%;
	padding: 25px;
}
.header_left {
	position: relative;
    display: inline-block;
    float: left;
}
.header_right {
	position: relative;
    display: inline-block;
    float: right;
}
a:focus, a:hover {
    color: #b81e25;
    text-decoration: underline;
}

/*menu starts here*/
.menu{
	display: inline-block;
	/*float: right;*/
	width: 100%;
	background-color: #b81e25;
	text-align: center;
}
.mob_menu {
	display: inline-block;
	/*float: right;*/
	width: 100%;
	color: #b81e25;
	text-align: center;
}
.menu ul li a,.mob_menu ul li a{
	padding: 15px 15px 17px;
}
.mob_menu ul li a{
	color: #b81e25;
	width: 100%;
    text-align: left;
    position: relative;
    display: block;
}
.menu ul li a:hover, .menu ul li a:focus
.mob_menu ul li a:hover, .mob_menu ul li a:focus{
	background-color: #eee;
	color: #b81e25;
}
._menu:hover:after{
	content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #b81e25;
    position: absolute;
    left: 45px;
    top: 44px;
}
.mob_menu ._menu:hover:after{
	top: 31px;
}
.menu ul li {
	padding: 0;
	display: inline-block;
	position: relative;
}
.mob_menu ul li {
	padding: 0;
	display: inline-block;
	position: relative;
	width: 100%;
}
._menu:hover .sub_menu{
	display: block;
	transition: all .5s ease;
}
._menu i{
	margin-left: 5px;
    transform: rotateZ(90deg);
    font-size: 8px;
}
.mob_menu .sub_menu {
	padding-top: 0px;
	margin-top: -7px;
	position: relative;
}
.mob_menu .sub_menu li a{
	color: white;
	font-size: 12px;
}
.sub_menu{
	position: absolute;
    width: 150px;
    padding-top: 10px;
    transition: all .5s ease;
    display: none;
    -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.sub_menu li{
	width: 100%;
	 background: #b81e25;
}
.sub_menu li a{
	width: 100%;
	margin: 0;
	text-align: left;
}
.menu .sub_menu li:hover:after,.mob_menu .sub_menu li:hover:after{
	content: "";
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 0px solid transparent;
    position: absolute;
    left: 45px;
    top: 44px;
}
@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 15%, 0);
    transform: translate3d(0, 15%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}


.menu_items,.scroll_menu {
    display: inline-block;
    position: relative;
    /*padding-bottom: 10px;*/
    margin: 0 5px;
    color: white;
    text-decoration: none !Important;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    /*padding-top: 8px;*/
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
}
.menu_items:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1.5px;
    width: 0;
    transition: width 0.5s ease, background .5s ease;
}
.menu_items:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1.5px;
    width: 0;
    background: #eee;
    transition: width .5s ease;
}
.menu_items:hover:before {
    width: 100%;
    background: #b81e25;
    transition: width .5s ease;
}
.menu_items:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}
.menu_lines {
	display: none;
	position: absolute;
    right: 25px;
    margin: 23px 0 0;
    cursor: pointer;
}
.menu_lines span{
	width: 19px;
	height: 2px;
	margin-bottom: 3px;
	background: #666;
	position: relative;
	display: block;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
}
.menu_lines span:nth-child(2){
	width: 15px;
	transition: all .2s ease-in;
	-webkit-transition: all .2s linear;
	animation-delay: .2s;
}
.menu_lines span:nth-child(3){
	width: 11px;
	transition: all .3s linear;
	-webkit-transition: all .2s linear;
}
.menu_lines_1 span{
	background: #666 !important;
}
.menu_lines_1 span:nth-child(2){
	width: 15px;
	transition: all .2s linear;
	-webkit-transition: all .2s linear;
	animation-delay: .2s;
}
.menu_lines_1 span:nth-child(3){
	width: 11px;
	transition: all .4s linear;
	-webkit-transition: all .4s linear;
}
.menu_lines:hover  span:nth-child(2){
	width: 19px;
	transition: all .2s linear;
	-webkit-transition: all .4s linear;
}
.menu_lines:hover  span:nth-child(3){
	width: 19px;
	transition: all .4s ease-in;
	-webkit-transition: all .4s linear;
}
.main_menu {
	position: fixed;
    width: 300px;
    right: 0;
    background: white;
    height: 100%;
    top: 0;
    z-index: 99999999;
    right: -300px;
    transition: right 0.5s linear;
    -webkit-transition: right 0.5s linear;
    border: 1px solid #eee;
    box-shadow: -2px 0px 0px #eee;
    padding: 25px;
    overflow: auto;
    display: none;
}
.open_menu{
	right: 0px;
	transition: right 0.5s linear;
	-webkit-transition: right 0.5s linear;
}
.main_menu .title{
	border-bottom: 2px solid #ccc;
    padding: 10px 10px 15px;
}
.main_menu .logo {
	float: left;
}
.header_community li {
	height: 40px;
	width: 25px;
	margin: 7px;
	float: left;
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
	display: inline-block;
	/*float: right;*/
}
.header_community li img {
	border-radius: 50%;
	margin: 8px;
	width: 100%;
	cursor: pointer;
	/*box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);*/
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	-o-transition: all ease 0.5s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.5s;
}
.header_community li img:hover {
	margin: 0px;
	box-shadow: 6px 6px 4px 4px rgba(0,0,0,0.3);
}
.cards{
	float: right;
}
/*Login Popup From starts here*/

/*Login Popup From Ends here*/
.logo_img1{
	/*display: block;*/
	width: 150px;
	/*opacity: 1;*/
	transition: all 1s ease-in-out;
}
.logo_img2{
	/*display: none;*/
	/*opacity: 0;*/
	width: 0px;
	transition: all 1s ease-in-out;
	position: absolute;
}
.ladding_logo{
	/*display: none;*/
	width: 0px;
	/*opacity: 0;*/
	transition: all 1s ease-in-out;
}
.scroll_logo{
	/*display: block;*/
	width: 38px;
	transition: all 1s ease-in-out;
}
.main_menu .items {
	position: relative;
    display: inline-block;
    padding: 15px;
    padding: 4em 15px 2em;
    border-bottom: 2px solid #b81e25;
    width: 100%;
}
.main_menu .items .p{
	margin-bottom: 25px;
	cursor: pointer;
	color: #666;
	font-weight: 700;
	font-size: 17px;
}
.main_menu .items .p a{
	color: #666;
	text-decoration: none;
}
.main_menu .items .p a:hover{
	color: #b81e25;
}
.main_menu .items .sp a{
	color: #999;
	text-decoration: none;
}
.main_menu .items .sp a:hover{
	color: #b81e25;
}
.main_menu .items .sp{
	margin-bottom: 20px;
	cursor: pointer;
	color: #999;
	font-size: 17px;
}
.main_menu .items .p:hover{
	color: #b81e25;
}
.main_menu .social_icons{
	width: 100%;
	position: relative;
	display: block;
	padding: 25px 15px 0;
}
.main_menu .social_icons ul{
	/*text-align: center;*/
}
.main_menu .social_icons li{
	display: inline-block;
	text-align: center;
	padding: 0 20px;
}
.main_menu .social_icons li i{ 
	color: #ccc;
	font-size: 17px;
}
.main_menu .social_icons li:nth-child(1){
	padding-left: 0;
}
.main_menu .social_icons li:nth-child(1) i:hover{
	color: #3a5795;
}
.main_menu .social_icons li:nth-child(2) i:hover{
	color: #0077b5;
}
.main_menu .social_icons li:nth-child(3) i:hover{
	color: #1da1f2;
}
.menu_active{
	color: #b81e25;
}
.close {
	opacity: 1;
    background-image: url(../images/delete.png);
    background-repeat: no-repeat;
    background-size: 12px;
    width: 16px;
    height: 16px;
}
.nav-pills li{
	width: 100%;
}
.main_menu .items .btn_animtn {
    margin: 3em 0;
}
/*menu ends here*/

/*header Ends here*/

/*Home banner Section Starts*/
.home_banner {
	position: relative;
	display: block;
	width: 100%;
	transition:  all .5s ease-in;
}
.home_banner article {
	width: 100%; 
	height: 100%; 
	position: fixed; 
	z-index: -2;
	transition: all .5s ease-in;
}
.home_banner .banner_img {
	display: table-cell;
	position: relative;
	/*width: 100%;*/
}
.home_banner article div img{
	position: fixed;
	width: 100%;
	/*height: 100%;*/
	display: block;
	z-index: -1;
}
.banner_title {
	position: absolute;
    display: block;
    width: 100%;
    height: 60px;
    margin: auto;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
}
.banner_title h1 {
	font-size: 27px;
	font-weight: 700;
	text-transform: uppercase;
}
.banner_title h4 {
	font-size: 14px;
	/*font-weight: 700;*/
	text-transform: capitalize;
	padding-top: 10px;
}
.banner_title_1 {
	position: absolute;
    display: block;
    width: 100%;
    height: 25px;
    margin: auto;
    text-align: center;
    top: 48px;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
}
.banner_title h1 {
	font-size: 27px;
	font-weight: 700;
	text-transform: uppercase;
}
.rw-sentence{
	margin: 0;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.rw-sentence span{
	color: #444;
	font-size: 100%;
	font-weight: normal;
}
.rw-words{
	/*display: inline;
	text-indent: 10px;*/
	text-align: center;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: white;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 700;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: white;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: white;	
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
	color: white;
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	color: white;
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
	color: white;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
.rw-words-2 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: white;
	-webkit-animation: rotate_Word 18s linear infinite 0.5s;
	-ms-animation: rotate_Word 18s linear infinite 0.5s;
	animation: rotate_Word 18s linear infinite 0.5s;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 300;
}
.rw-words-2 span:nth-child(2) { 
    -webkit-animation-delay: 3.5s; 
	-ms-animation-delay: 3.5s; 
	animation-delay: 3.5s; 
	color: white;
}
.rw-words-2 span:nth-child(3) { 
    -webkit-animation-delay: 6.5s; 
	-ms-animation-delay: 6.5s; 
	animation-delay: 6.5s; 
	color: white;	
}
.rw-words-2 span:nth-child(4) { 
    -webkit-animation-delay: 9.5s; 
	-ms-animation-delay: 9.5s; 
	animation-delay: 9.5s; 
	color: white;
}
.rw-words-2 span:nth-child(5) { 
    -webkit-animation-delay: 12.5s; 
	-ms-animation-delay: 12.5s; 
	animation-delay: 12.5s; 
	color: white;
}
.rw-words-2 span:nth-child(6) { 
    -webkit-animation-delay: 15.5s; 
	-ms-animation-delay: 15.5s; 
	animation-delay: 15.5s; 
	color: white;
}
@-webkit-keyframes rotate_Word {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    14% { opacity: 1; -webkit-transform: translateY(0px); }
	17% { opacity: 0; -webkit-transform: translateY(30px); }
	77% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotate_Word {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    14% { opacity: 1; -webkit-transform: translateY(0px); }
	17% { opacity: 0; -webkit-transform: translateY(30px); }
	77% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotate_Word {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    14% { opacity: 1; -webkit-transform: translateY(0px); }
	17% { opacity: 0; -webkit-transform: translateY(30px); }
	77% { opacity: 0; }
    100% { opacity: 0; }
}
.rotate_serv span{
	position: absolute;
	opacity: 1;
	overflow: hidden;
	color: white;
	-webkit-animation: rotate_serv 3s ease-in;
	-ms-animation: rotate_serv 3s ease-in;
	animation: rotate_serv 3s ease-in;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 300;
    margin: auto;
}
@-webkit-keyframes rotate_serv {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	100% { opacity: 1; -webkit-transform: translateY(0px);}
    14% { opacity: 0; -webkit-transform: translateY(0px); }
	17% { opacity: 0; -webkit-transform: translateY(30px); }
	77% { opacity: 1; }
    100% { opacity: 1; }
}
@-ms-keyframes rotate_serv {
     0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	100% { opacity: 1; -ms-transform: translateY(0px);}
    14% { opacity: 0; -ms-transform: translateY(0px); }
	17% { opacity: 0; -ms-transform: translateY(30px); }
	77% { opacity: 1; }
    100% { opacity: 1; }
}
@keyframes rotate_serv {
     0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); }
	100% { opacity: 1; transform: translateY(0px);}
    14% { opacity: 0; transform: translateY(0px); }
	17% { opacity: 0; transform: translateY(30px); }
	77% { opacity: 1; }
    100% { opacity: 1; }
}
@media screen and (max-width: 768px){
	.scroll_animation {padding: 5px 25px 15px;}
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}
/*Home banner Section Ends*/
/*body section*/
.wrapper_container {
	background-color: #ccc;
    position: absolute;
    display: inline-block;
    margin-top: 47.5%;
    width: 100%;
}
.wrapper_container .leftSection {
	position: relative;
    text-align: justify;
    padding: 0px;
    background-color: white;
    width: 77.7%;
    margin: .7%;
}
.wrapper_container .leftSection .abt_us{
	border-bottom: 2px solid #ccc;
	padding: 25px;
}
.wrapper_container .leftSection .abt_us p{
	padding: 10px;
}
.wrapper_container .rightSection{
	position: relative;
    padding: 0px;
    background-color: white;
    float: right;
    width: 20%;
    margin: .7% .7% .7% .0%;
}

.wrapper_container .leftSection ._tabSection{
	margin: 25px 0 0;
	border-bottom: 2px solid #ccc;
	padding: 25px;
}
.wrapper_container .leftSection ._tabSection h1{
	font-size: 30px;
	font-weight: 700;
	padding-bottom: 25px;
}
.wrapper_container .leftSection  .tab-content>.tab-pane {
	margin-top: 25px;
}
.wrapper_container .leftSection  .tab-content>.tab-pane p{
	padding: 10px;
}

.wrapper_container .leftSection .nav-pills>li.active>a,
.wrapper_container .leftSection .nav-pills>li.active>a:focus,
.wrapper_container .leftSection .nav-pills>li.active>a:hover {
	background-color: #b81e25;
}
.nav-pills>li>a{
	color: #b81e25;
}
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

#carousel{
	height: 72%;
    position: absolute;
    width: 100%;
    margin-top: 185px;
}

#carousel img{
	width: 100%;
}

.link_sections{
	padding: 20px 24px;
	position: relative;
	display: block;
}
.link_sections button{
	margin: 5px 0px;
    background-color: #b81e25;
    color: white;
    width: 100%;
    padding: 10px;
}
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border: 1px solid #b81e25;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  color: #b81e25;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #b81e25;
  background: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.img_galary{
	padding: 25px;
}
.img_galary .yrs {
	margin: 10px;
    position: relative;
    display: inline-block;
}
/*about us section starts*/
.abt_bg {
	margin-top: 50%;
    padding: 0;
    background: white;
    background-image: url( ../images/bghotel.jpg );
    background-repeat: no-repeat;
    background-size: 55% 100%;
    background-attachment: fixed;
    background-position: 100%;
}
.about_us {
	padding: 7em 0;
	width: 75%;
	margin: auto;
}
.about_us .sticky{
	position: fixed;
     top: 0;
}
.about_us h1 {
	font-size: 50px;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 67px;
}
.about_us p {
	padding: 25px 0px;
    line-height: 24px;
    font-size: 14px;
    text-align: justify;
}
.about_us button {
    border: none;
    display: block;
	font-size: 1.25em;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 5px;
	background-color: none;
}
a.btn_animtn{
	color: white;
    background: #b81e25;
    padding: 13px 20px;
    border: 1px solid #b81e25;
    transition: all .0s ease-in;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
}
a.btn_animtn:hover{
	color: #b81e25;
	background: white;
	border: 1px solid #b81e25;
}	
/*about us section ends*/

/*services section starts here*/
.fulcntr{
	position: absolute;
    left: 0;
    /* right: 0; */
    margin: auto;
    top: 0;
    bottom: 0;
    height: 50px;
}
.service {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	background-color: white;
	padding: 0;
}
.service .title {
	padding: 25px 0 12em;
    background: #f9f9f9;
    position: absolute;
    z-index: 0;
    display: block;
    width: 100%;
}
.service .title h1{
	padding-top: 1em;
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 900;
}
.service .title p{
	font-size: 14px;
	line-height: 24px;
	width: 55%;
    margin: auto;
}
.service_list {
	width: 80%;
    margin: 2em auto 25px !Important;
    background-color: white;
    /*box-shadow: 0px 2px 7px #999;*/
    z-index: 99;
    position: relative;
}
.divided_section{
	cursor: pointer;
    overflow: hidden;
    height: 120px;
    border: 1px solid #eee;
    width: 200px;
}
.service_list_items{
	padding: 8px 0;
    position: relative;
    display: inline-table;
    width: 100%;
    height: 120px;
    float: left;
    overflow: hidden;
}
.service_list_items .items {
	/*position: relative;*/
    display: block;
    width: 100%;
    transition: all .5s ease-in;
    padding-top: 26px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*height: 95px;*/
    margin: auto;
}
.service_list_items .hvr-items .btn_animtn{
	color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 0;
    border: 0;
    font-size: 16px;
}
.service_list_items .hvr-items .btn_animtn:hover{
	/*background-color: white;*/
	/*color: #b81e25;*/
	border: none;
}
.hvr-items{
	position: absolute;
    top: -102%;
    /*padding: 55px;*/
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
  /*  min-height: 200px;
    min-width: 300px;*/
    height: 120px;
    background: rgba(0,0,0,.7);
}/*
.hvr-1 {	
    background: #d71b58;
}
.hvr-2{	
	background: #291B4D;
}
.hvr-3{
	background: #04A095;
}
.hvr-4{
	background: #b81e25;
}*/
.service_list_items:hover .hvr-items{
	top: -0;
	transition: all .5s ease-in;
}
.service_list_items:hover i, .service_list_items:hover h3, .service_list_items:hover p{
	color: white;
}
.service_list_items div i {
	font-size: 3.5em;
	color: #b81e25;
}
.service_list_items div h3 {
	font-size: 12px;
	font-weight: 700;
	padding: 0px 0 15px;
	color: #666;
}
.service_list_items div p{
	width: 75%;
    margin: auto;
    padding-bottom: 17px;
    color: #999;
    font-size: 14px;
    line-height: 24px;
}
._wrp{
	position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 50px;
}
._wrp i{
	color: white !important;
}
._wrp h3 {
	color: white !important;
}
._rgtarw{
    margin-left: -1em;
	opacity: 0;
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
}
.hvr-items:hover ._rgtarw{
	margin-left: 0em;
	opacity: 1;
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
}
._rgtarw i{
	font-size: .8em !important;
    padding-left: 7px;
}
._rgtarw i:hover{
	background: transparent;
}
._btn button span{
	color: white;
	font-size: 12px;
}
.add_details{
	font-size: 15px;
    line-height: 25px;
}
.add_details h3{
	font-size: 30px;
	color: #b81e25;
}
.add_details .one{
	width: 100px;
    position: relative;
    display: block;
    float: left;
}
.add_details .two{
	width: 10px;
    position: relative;
    display: block;
    float: left;
}
.add_details .three{
	width: auto;
    position: relative;
    display: block;
    float: left;
}
.modal-body{
	height: auto;
    display: inline-block;
}
.imobile{
	background-image: url(../images/img/img-1.gif);
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    width: 62%;
    height: 65px;
}
.iportal{
	background-image: url(../images/img/img-2.gif);
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 62%;
    height: 65px;
}
.isap{
	background-image: url(../images/img/img-3.gif);
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    width: 62%;
    height: 65px;
}
.ibi{
	background-image: url(../images/img/img-4.gif);
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    width: 60%;
    height: 65px;
}
.iservice{
	background-image: url(../images/img/img-5.gif);
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    width: 60%;
    height: 65px;
}
.icloud{
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    width: 62%;
    height: 65px;
}
.icloud-4{
	background-image: url(../images/img/img-4.gif);
}
.icloud-5{
	background-image: url(../images/img/img-5.gif);
}
.icloud-6{
	background-image: url(../images/img/img-6.gif);
}
.icloud-7{
	background-image: url(../images/img/img-7.jpg);
}
.icloud-8{
	background-image: url(../images/img/img-8.gif);
}
.imobile_white{
	background-image: url(../images/img/i_mobile_white.png);
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    width: 42px;
    height: 65px;
}
.iportal_white{
	background-image: url(../images/i_portal_white.png);
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 65px;
}
.isap_white{
	background-image: url(../images/i_sap_white.png);
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    width: 95px;
    height: 65px;
}
.icloud_white{
	background-image: url(../images/i_cloud_white.png);
	background-repeat: no-repeat;
	position: relative;
    display: inline-block;
    width: 80px;
    height: 65px;
}
/*services section ends here*/
/*testimonial section starts here*/
.testimonial{
	position: relative;
	display: table;
	width: 100%;
	text-align: center;
	background-color: #f9f9f9;
	padding: 5em;
}
.testimonial h2 {
	font-size: 1.5em;
    font-weight: 900;
}
.carousel-inner>.item {
	/*height: 310px;*/
}
.testimonial hr {
	width: 75px;
    height: 2px;
    background: #b81e25;
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 25px;
}
.testimonial .carousel-indicators{
	bottom: -32px;
}
.carousel-indicators li {
	border: 1px solid #b81e25;
}
.carousel-indicators .active{
	background-color: #b81e25; 
}
.testimonial h4 {
	font-size: 1.3em;
    font-weight: 700;
}

.testimonial p{
	width: 86%;
    margin: auto;
    padding: 25px;
    color: #999;
    font-size: 14px;
    line-height: 24px;
}
.testimonial img{ 
	margin: 0em auto 1em;
    /*padding: 15px;*/
    border-radius: 50%;
    -webkit-border-radius: 50%; 
    width: 75px;
}
/*testimonial section ends here*/
.quick_links{
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	background: #2C2D2D;
	padding: 0;
}
.quick_links .section {
	color: white;
	width: 75%;
	/*height: 300px;*/
	margin: 7em auto 5em;
	text-align: justify;
	position: relative;
    display: table;
    font-weight: 300;
}
.quick_links .section_1{
	padding: 0;
	text-align: left;
}
.quick_links .section_1 p{
	font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
    opacity: .8;
    width: 70%;
}
.quick_links .section_1 h1{
	padding-bottom: 1.5em; 
}
.quick_links .section_2 hr,.quick_links .section_3 hr{
	border: none;
	width: 25px;
	height: 3px;
	background: white;
	margin: 20px 0;
	float: left;
}
.quick_links .section_2{
	padding: 0;
	text-align: left;
}
.quick_links .section_2 ul {
	position: relative;
	display: block;
}
.quick_links .section_2 ul li{
	list-style-type: none;
	padding: 5px 0;
	display: inline-block;
    width: 40%;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
    opacity: .8;
    /*cursor: pointer;*/
}
.quick_links .section_2 ul li a{
	/*text-decoration: none;*/
	color: white;
}
.quick_links .section_3{
	padding: 0;
	text-align: left;
	float: right;
}
.quick_links .section_3 ul {
	position: relative;
	display: block;
	padding: 5px 0;
}
.quick_links .section_3 ul li{
	display: inline-block;
	padding: 0 10px;
}
.quick_links .section_3 ul li a{
	color: white;
}
.quick_links .section_3 ul li:first-child{
	padding-left: 0;
}
.quick_links .section_3 p{
	font-size: 12px;
	padding-top: 17px;
}
.social-icons .fa {
	font-size: 1em;
}
.copy_right{
	font-size: 12px;
    letter-spacing: 1px;
    line-height: 20px;
    font-weight: 400;
    opacity: .8;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 35px;
    height: 35px;
    line-height: 32px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 50%;
    border: 2px solid white;
}
.social-icons .fa-facebook:hover {
	color: #3a5795;
	border-color: #3a5795;
	background-color: white;
}
.social-icons .fa-linkedin:hover {
	color: #0077b5;
	border-color: #0077b5;
	background-color: white;
}
.social-icons .fa-twitter:hover {
	color: #1da1f2;
	border-color: #1da1f2;
	background-color: white;
}
.social-icons .fa-google-plus:hover {
	color: #cf3d2e;
	border-color: #cf3d2e;
	background-color: white;
}
.container {
	padding:0;
	display: table;
	width: 100%;
}

.carousel.vertical .item {
   -webkit-transition: 1s ease-in-out bottom;
   -moz-transition: 1s ease-in-out bottom;
   -ms-transition: 1s ease-in-out bottom;
   -o-transition: 1s ease-in-out bottom;
   transition: 1s ease-in-out bottom;   
   opacity: 1;
}

.carousel.vertical .active {
   bottom: 0;
}

.carousel.vertical .next {
   bottom: 150px;
   opacity: 0;
   transition: all 1s linear;
}

.carousel.vertical .prev {
   bottom: -150px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
   bottom: 0;
}

.carousel.vertical .active.left {
   bottom: -150px;
}

.carousel.vertical .active.right {
   bottom: 150px;
}

.carousel.vertical .item {
   right: 50%;
}

/*About Us Page Starts here*/
.mrg50per {
	margin-top: 50%;
}
.mrg40per {
	margin-top: 40%;
}
.about_banner {
	position: relative;
	display: block;
	width: 100%;
	transition:  all .5s ease-in;
}
.about_banner article{
	width: 100%; 
	height: 80%; 
	position: fixed; 
	z-index: -2;
	transition: all .5s ease-in;
}
.about_banner .banner_img {
	display: table-cell;
	position: relative;
	/*width: 100%;*/
}
.about_banner article div img{
	position: fixed;
	width: 100%;
	/*height: 80%;*/
	display: block;
	z-index: -1;
	margin-top: -10%;
}

/*team section starts Here*/
._abtdisp{
	position: relative;
	display: block;
	width: 100%;
	padding: 2em 0;
	text-align: left;
	background-color: white;
}
.abttitle{
	position: relative;
	display: block;
	width: 75%;
	text-align: left;
	background-color: white;
	margin: auto; 
}
.abttitle h1{
	/*padding-top: 25px;
    padding-bottom: 15px;*/
    font-size: 40pt;
    font-weight: 900;
    /*line-height: 75px; */
}
.abttitle p {
	font-size: 14px;
    line-height: 24px;
    width: 100%;
    margin: auto;
    padding: 3em 2em 2em;
}
.abttitle p:nth-child(2){
	 padding: 0em 2em 3em;
}
.head_team{
	position: relative;
    width: 100%;
    background: #f9f9f9;
    display: inline-block;
    padding: 20px;
}
.head_team .title{
	text-align: center;
    width: 93%;
    margin: auto;
}
.head_team .title h1{
	padding-top: 15px;
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 900;
}
.team_heads{
	width: 300px;
    float: left;
    display: block;
    margin: 10px;
    background: white;
    box-shadow: 0px 2px 7px #999;
    padding: 10px;
    text-align: center;
}
.team_heads span p{
	line-height: 25px;
	font-size: 14px;
}
.team_heads span h2{
	font-weight: 700;
	color: #b81e25;
	line-height: 25px;
}
.team_heads span h3{
	line-height: 25px;
}
.team{
	position: relative;
	display: block;
	padding: 0;
	width: 100%;
	background: white;
	text-align: center;
}
.team .title{
	position: relative;
	display: block;
	width: 100%;
	padding: 2em 0;
}
.team .title h1{
	padding-top: 25px;
    padding-bottom: 15px;
    font-size: 40pt;
    font-weight: 900; 
}
.team .title p {
	font-size: 14px;
    line-height: 24px;
    width: 55%;
    margin: auto;
    padding-bottom: 25px;
}
.team_sec{
	position: relative;
    display: table;
    background-image: url(../images/ceo.jpg);
    /* background-size: 51% 100%; */
    background-position: -54px 0px;
    background-repeat: no-repeat;
}
.mob_img{
		display: none;
	}
.ceo_details {
	text-align: left;
	padding: 7em;
	background-color: #e34c53;
}
.ceo_details h1{
	/*padding-bottom: 1em;*/
	font-size: 32px;
	font-weight: 900;
	color: white;
}
.ceo_details h3{
	padding-bottom: 1em;
	font-size: 22px;
	font-weight: 200;
	color: white;
	padding-top: 10px;
}
.ceo_details p{
	padding-bottom: 1em;
	font-size: 14px;
	color: white;
	width: 75%;
	line-height: 24px;
}
.ceo_details li {
	display: inline-block;
	padding: 15px 5px 0;
}

.ceo_details li a .fa {
	font-size: 13px;
	width: 32px;
    height: 32px;
    line-height: 30px;
}
.apply_job {
	position: relative;
	display: block;
	padding: 1em;
	width: 100%;
	background: white;
	text-align: center;
}
.apply_job aside{
	position: relative;
	display: block;
	padding: 0;
	width: 75%;
	background: white;
	text-align: center;
	margin: auto;
}
.apply_job .title{
	position: relative;
	display: block;
	width: 100%;
	padding: 2em 0;
}
.apply_job .title h1{
	/*padding-top: 25px;*/
    padding-bottom: 15px;
    font-size: 30pt;
    font-weight: 900; 
}
.apply_job .title p {
	font-size: 14px;
    line-height: 24px;
    width: 55%;
    margin: auto;
    padding-bottom: 25px;
}
._doublecol{
	position: relative;
	display: block;
	width: 100%;
	background: #f9f9f9;
	text-align: center;
}
._doublecol aside{
	position: relative;
	display: block;
	padding: 0;
	width: 75%;
	text-align: center;
	margin: auto;
}
._doublecol aside span{
	padding: 5em 0;
}
._doublecol aside span:nth-child(1){
	border-right: 1px solid #eee;
}
._doublecol aside i {
	font-size: 3.5em;
	color: #b81e25;
}
._doublecol aside h3 {
	font-size: 22px;
	font-weight: 700;
	padding: 1.5em 0 1.7em;
	color: #767676;
}
._doublecol aside p{
	width: 75%;
    margin: auto;
    /*padding-bottom: 17px;*/
    color: #999;
    font-size: 14px;
    line-height: 24px;
}
/*team section Ends Here*/
/*About Us Page Ends here*/

/*service Page Starts here*/
._services{
	position: relative;
	display: block;
	width: 100%;
	background: #f9f9f9;
	text-align: center;
}
._services aside{
	position: relative;
	display: block;
	padding: 0;
	width: 75%;
	text-align: center;
	margin: auto;
}
._services aside span{
	padding: 5em 0;
}
._services aside i {
	font-size: 3.5em;
	color: #b81e25;
}
._services aside h3 {
	font-size: 22px;
	font-weight: 700;
	padding: 1.5em 0 1.7em;
	color: #767676;
}
._services aside p{
	width: 75%;
    margin: auto;
    /*padding-bottom: 17px;*/
    color: #999;
    font-size: 14px;
    line-height: 24px;
}
._services aside ul{
	text-align: left;
    width: 70%;
    margin: 20px auto;
}
._services aside ul li{
	text-align: left;
    margin: 20px;
    color: #999;
    font-size: 13px;
    line-height: 24px;
}
.practice {
	position: relative;
	display: block;
	padding: 2em 0 1em;
	width: 100%;
	text-align: center;
	background: #f9f9f9;
}
.practice aside{
	position: relative;
	display: block;
	padding: 0;
	width: 75%;
	/*background: white;*/
	text-align: center;
	margin: auto;
}
.practice .title{
	position: relative;
	display: block;
	width: 100%;
	/*padding: 2em 0;*/
}
.practice .title h2{
	/*padding-top: 25px;*/
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 900; 
}
.practice .title hr{
	width: 75px;
    height: 2px;
    background: #b81e25;
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 15px; 
}
/*._practice:nth-child(odd){	
	background: #f9f9f9;
}
._practice:nth-child(even){	
	background: white;
}*/
._practice{
	position: relative;
	display: block;
	width: 100%;
	background: #f9f9f9;
	text-align: center;
}
._practice aside{
	position: relative;
	display: block;
	padding: 0;
	width: 75%;
	text-align: center;
	margin: auto;
}
._practice aside span{
	padding: 2em 0 3em;
}
._practice aside i {
	font-size: 3.5em;
	color: #b81e25;
}
._practice aside h3 {
	font-size: 22px;
	font-weight: 700;
	padding: 1.5em 0 1.7em;
	color: #767676;
}
._practice aside p{
	width: 75%;
    margin: auto;
    /*padding-bottom: 17px;*/
    color: #999;
    font-size: 14px;
    line-height: 24px;
}
._practice aside ul{
	text-align: left;
    width: 70%;
    margin: 20px auto;
}
._practice aside ul li{
	text-align: left;
    margin: 20px;
    color: #999;
    font-size: 13px;
    line-height: 24px;
}
/*service Page Starts here*/

/*Contact Us Page Secion Starts Here*/
.contact_banner {
	position: relative;
	display: block;
	width: 100%;
	transition:  all .5s ease-in;
}
.contact_banner article{
	width: 100%; 
	height: 80%; 
	position: fixed; 
	z-index: -2;
}
.contact_banner .banner_img {
	display: table-cell;
	position: relative;
	/*width: 100%;*/
}
.contact_banner article div img{
	position: fixed;
	width: 100%;
	/*height: 80%;*/
	display: block;
	z-index: -1;
	margin-top: -10%;
}
.contact_us{
	position: relative;
	display: block;
	padding: 0;
	width: 100%;
	background: #f9f9f9;
	text-align: center;
}
.contact_us .title{
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 2em 0;
	background: #f9f9f9;
}
.contact_us .title aside{
	position: relative;
	display: block;
	padding: 0;
	width: 100%;
	background: #f9f9f9;
	text-align: center;
}
.brdLR{
	border-right: 1px solid #ccc;
	/*border-left: 1px solid #ccc;*/
}
.company {
	font-size: 15px;
	font-weight: 700;
}
.contact_us .title aside div{
	position: relative;
	display: block;
	padding: 0;
	background: #f9f9f9;
	text-align: center;
}
.contact_us .title h3{
	padding-top: 25px;
    padding-bottom: 15px;
    font-size: 40px;
    font-weight: 900; 
}
.contact_us .title h2{
	padding-top: 25px;
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 900; 
    line-height: 30px;
}
.contact_us .title p {
	font-size: 14px;
    line-height: 24px;
    /*width: 55%;*/	
    margin: auto;
    padding-bottom: 25px;
}
.contact_us ._details {
	position: relative;
	display: table;
	padding: 0;
	width: 75%;
	text-align: center;
	margin: auto;
}
.map{
	background-color: white;
	 /*padding: 2em 0;*/
}
#map_canvas{
	width: 100%; 
	height: 450px; 
	border: none; 
	margin: auto;
}
.infobox-wrapper {
    display:none;
}
#infobox {
	/*margin-top: 8px;*/
    color: #b81e25;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    /*padding: .5em 1em;*/
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 15px;
}
#infobox h1{
	padding-bottom: 10px;
    font-weight: 800;
    font-size: 10px;
}
#infobox p{
	font-size: 10px;
    font-weight: 700;
    line-height: 10px;
}
.gm-style-iw{
	width: 250px;
}

.link_title {
	display: inline-block;
	position: relative;
	width: 100%;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animated.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}
/*Contact Us Page Secion Ends Here*/
/*small slider starts here*/
.carousel-inner.onebyone-carosel { margin: auto; width: 90%; }
.onebyone-carosel .active.left { left: -33.33%; }
.onebyone-carosel .active.right { left: 33.33%; }
.onebyone-carosel .next { left: 33.33%; }
.onebyone-carosel .prev { left: -33.33%; }
.media_slider{
	background-color: rgba(240,240,240,.7);
    position: relative;
    border-radius: 0;
}
.media_slider  .well{
	background-color: transparent; 
    border: 0px solid #e3e3e3; 
    border-radius: 0px;
    margin-bottom: 0px;
}
.media_slider .carousel-inner>.item{
	height: auto;
}
.media_slider .item>div{
	float: left;
	margin: 20px;
}
/*small slider ends here*/
/*Responsive Starts Here*/
@media (min-width:1200px){

}
@media (max-width:1199px){
	.home_banner article {
		height: 75%; 
	}
	.home_banner article div img{
		height: 75%;
	}
	.contact_banner article {
		height: 70%; 
	}
	.contact_banner article div img{
		height: 70%;
	}
	.abt_bg {
    	margin-top: 45%;
    }
    .ceo_details p{
    	width: 100%;
    }
    .contact_us ._details{
    	width: 85%;
    }
    .practices .abttitle{
    	width: 85%;
    }
    .practices .abttitle p{
    	padding: 3em 0em 2em 6em;
    }
    #carousel{
    	margin-top: 229px;
    }
    .wrapper_container{
    	margin-top: 56.5%;
    }
}
@media (max-width:991px){
	.home_banner article {
		height: 70%; 
	}
	.home_banner article div img{
		height: 80%;
	}
	.abt_bg {
    	margin-top: 39%;    	
	    background-image: none;   
	}
	.about_banner article {
		height: 70%; 
	}	
	.about_banner article div img{
		height: 80%;
	}
	.contact_banner article {
		height: 70%; 
	}	
	.contact_banner article div img{
		height: 80%;
	}
	.about_us h1 {
    	font-size: 50px;
    	line-height: 67px;
    }
    .service .title p {
    	width: 87%;
    }
    .service_list {
    	margin: 15em auto 25px;
    }
    .testimonial p {
    	width: 100%;
    	padding: 25px 0;
    }
    .quick_links .section{
    	width: 80%;
    }
    .mrg40per {
	    margin-top: 46%;
	}
	.ceo_details{
		padding: 7em 4em;
	}
	.map{
		padding: 0;
	}
	#map_canvas{
		width: 100%; 
		height: 450px; 
		border: none; 
		margin: auto;
	}
	.contact_us ._details{
    	width: 100%;
    }
    .contact_us ._details div{
    	padding: 0; 
    }
}
@media (max-width:900px){
	.abt_bg {
	    margin-top: 45%;
	}
	.ceo_details{
		padding: 4em;
	}
}
@media (max-width:850px){
	.about_us div:nth-child(1){
    	width: 100%;
    }
    .about_us{
    	background: white;
    }
    .service_list {
    	width: 85%;
    }	
    .hvr-items{
    	height: 100%;
    }
    .testimonial{
    	padding: 4em;
    }
    .quick_links .section {
    	width: 90%;
	}
	.mrg40per {
	    margin-top: 52%;
	}
	.ceo_details {
	    padding: 4em 2em;
	}
	.contact_us .title h2{
		font-size: 21px;
	}
	.practices .abttitle {
	    width: 95%;
	}
	._services aside,._practice aside{
		width: 100%;
	}
}
@media (max-width:767px){
	.home_banner article {
		height: 60%; 
	}
	.home_banner article div img{
		height: 66%;
	}
	.about_banner article {
		height: 60%; 
	}
	.about_banner article div img{
		height: 66%;
	}
	.contact_banner article {
		height: 60%; 
	}
	.contact_banner article div img{
		height: 66%;
	}
	.quick_links .section_1{
		padding-bottom: 2em;
	}
	.quick_links .section_2{
		padding-bottom: 2em;	
	}
	.quick_links .section_1 p{
		width: 100%;
	}
	.quick_links .section_2 ul li{
		width: 49%;
	}
	.mrg40per {
	    margin-top: 50%;
	}
	.abttitle{
		width: 80%;
	}
	._doublecol aside span:nth-child(1){
		border-bottom: 1px solid #eee;
		border-right: none;
	}
	.abttitle p{
		padding: 0;
	}
	.abttitle p:nth-child(2){
		padding: 1em 0em 2em;
	}
	.mob_img{
		display: block;
	}
	.mob_img img{
		display: block;
	}
	.brdLR{
		border-top: 1px solid #ccc;
    	border-bottom: 1px solid #ccc;
	}
	.practices .abttitle p {
	    padding: 0em;
	}
    ._services aside{
    	width: 100%;
    }
    .fulcntr{
		position: relative;
	    left: 0;
	    /* right: 0; */
	    margin: auto;
	    top: 0;
	    bottom: 0;
	    height: 75px;
	}
    .mbrdBTM{
    	border-bottom: 1px solid #eee;
    }

	#carousel{
		margin-top: 140px;
	}
	#carousel img {
		height: 50%;
	}
	.wrapper_container .leftSection{
		width: 100%;
		margin: 1px 0;
	}
	.wrapper_container .rightSection{
		width: 100%;
		float: right;
		margin: 1px 0;
	}
	.wrapper_container{
		margin-top: 23.5em;
	}
	.logo{
		border-bottom: 1px solid #eee;
	}
}
@media (max-width:710px){
	.menu {
		display: none;
	}
	.service .title p {
    	width: 87%;
    }
    .service_list {
    	margin: 20em auto 25px;
    }
    .mrg40per {
	    margin-top: 50%;
	}		
	.menu_lines {
		display: block;
	}
	.main_menu{
		display: block;
	}
	.main_menu .items {
	    padding: 2em 15px 2em;
	}
	.main_menu .items .sp:nth-child(4){
		margin-top: 0;
	}
}
@media (max-width:650px){
	.abt_bg {
    	margin-top: 57%;
    	background-image: none;
    }
    .mrg40per{
    	margin-top: 57%;
    }
    .about_us{
    	background: white;
    }   
    .testimonial{
    	padding: 5em 4em;
    } 
    .apply_job .title h1{
    	font-size: 25pt;
    }
    .team .title h1{
    	font-size: 30pt;
    }
}
@media (max-width:600px){
	.abt_bg {
    	margin-top: 67%;
    }
    .mrg40per{
    	margin-top: 67%;
    }
    .contact_us .title h3{
    	font-size: 35px;
    }
    .cs-desc-title{
    	font-size: 1.5em;
    }
    .cs-desc-content {
   		font-size: .7em;
   	}
   	.btn-detail {
    	font-size: 10px;
    }
}
@media (max-width:500px){
	.abt_bg {
    	margin-top: 85%;
    }
    .mrg40per {
    	margin-top: 85%;
    }
    .about_us {
    	padding: 1em 0;
    }
    .banner_title_1{
    	top: 22px;
    }
    .banner_title h1 {
    	font-size: 23px;	
    }
    .banner_title_1 .rw-words-1 span{
    	font-size: 13px;
    }
    .testimonial{
    	padding: 5em 3em;
    }
    .testimonial h2{
    	font-size: 10px;
    }
    ._doublecol aside{
    	width: 100%;
    }
    .apply_job .title h1{
    	font-size: 23pt;
    }
    .team .title h1{
    	font-size: 23pt;
    }
    .team .title p{
    	width: 70%;
    }
    .ceo_details{
    	padding: 4em;
    }
    .ceo_details p{
    	width: 100%;
    }
    .contact_us .title h3{
    	font-size: 30px;
    }
    .abttitle h1{
    	font-size: 35pt;
    }
    .practice .title h2 {
    	font-size: 25px;
    }
	.main_menu {
	    overflow-y: auto;
	    padding: 0px 25px;
	}
	.main_menu .items .btn_animtn {
	    margin: 0em;
	}
	.main_menu .items{
		padding: 2em 15px 2em;
	}
}
@media (max-width:487px){
	.divided_section {
		float: none;
	    margin: 10px auto;
	    position: relative;
	    display: block;
	}
}
@media (max-width:400px){
	.abt_bg {
    	margin-top: 92%;
    }
    .mrg40per {
    	margin-top: 92%;
    }
    .banner_title_1{
    	top: 20px;
    }
    .banner_title h1 {
    	font-size: 20px;	
    }
    .banner_title_1 .rw-words-1 span{
    	font-size: 11px;
    }
    .service .title p {
    	width: 87%;
    }
    .service_list{
    	width: 100%;
    	margin: 25em auto 25px;
    }
    .testimonial{
    	padding: 5em 2em;
    }
    .apply_job .title h1{
    	font-size: 18pt;
    }
    .team .title h1{
    	font-size: 18pt;
    }
    .ceo_details {
	    padding: 4em 2em;
	}
	.ceo_details h1{
		font-size: 24px;
	}
	.ceo_details li{
		padding: 15px 10px 0;
	}
	.contact_us .title h3{
    	font-size: 25px;
    }
    .abttitle h1{
    	font-size: 30pt;
    }
}
/*Responsive Ends Here*/
